<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>

  <%- include('layouts/navbar') -%>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/anime-carousel/1.jpg'); min-height: 100vh;">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade" \>

        <h2>Page Not Found!</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Not Found</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

  <%- include('layouts/scripts') -%>

</body>

</html>